<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%
      def user_is_logged_in
        session[:user_id]
      end
    %>

    <% if user_is_logged_in %>
      <p><%= link_to 'Logout', sessions_path %></p>
    <% else %>
    <p>
      <%= link_to 'New Account', new_users_path %>
      |
      <%= link_to 'Log In', new_sessions_path %>
    </p>
    <% end %>

    <%= yield %>
  </body>
</html>
